# force download if the url has the form something?dl
RewriteEngine On
RewriteCond %{QUERY_STRING} dl
RewriteRule ".*" - [T=application/octet-stream]

# auth stuff
AuthType Basic
AuthName "Copybin: Authorization required"
# AuthUserFile will be added by my script

# vim: ft=apache
